apiVersion: apps/v1
kind: Deployment

metadata:
  name: ntv-webcam-scraper

spec:
  selector:
    matchLabels:
      app: ntv-webcam-scraper

  template:
    metadata:
      labels:
        app: ntv-webcam-scraper

    spec:
      volumes:
        - name: images
          persistentVolumeClaim:
            claimName: migrated-images

      containers:
        - name: scraper
          image: ghcr.io/nint8835/ntv-webcam-scraper:latest
          imagePullPolicy: Always

          volumeMounts:
            - mountPath: /images
              name: images

          env:
            - name: NTVWEBCAMSCRAPER_OUTPUT_PATH
              value: /images

          resources:
            requests:
              memory: "64Mi"
            limits:
              memory: "128Mi"
