apiVersion: cert-manager.io/v1
kind: ClusterIssuer

metadata:
  name: letsencrypt

spec:
  acme:
    server: https://acme-v02.api.letsencrypt.org/directory
    email: riley@rileyflynn.me
    privateKeySecretRef:
      name: letsencrypt-account-key
    solvers:
      - dns01:
          cloudflare:
            apiTokenSecretRef:
              name: {{ .Values.cloudflareSecretName }}
              key: api-token
        selector:
          dnsZones:
            - internal.bootleg.technology
            - workspaces.bootleg.technology
      - http01:
          ingress:
            ingressClassName: traefik
