{
	http_port 8080
}

192.168.64.2:8080 {
	reverse_proxy * {
		dynamic a {
			name hosts.bootleg.technology
			port 8006
		}

		lb_policy ip_hash
		lb_try_duration 1s
		lb_try_interval 250ms

		health_uri /
		health_interval 10s
		health_timeout 2s
		health_status 200

		transport http {
			tls_insecure_skip_verify
		}
	}
}
