apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: coder

resources:
  - namespace.yaml
  - database.yaml
  - helm_repo.yaml
  - secrets.yaml
  - helm_release.yaml

secretGenerator:
  - name: ares-docker-creds
    files:
      - docker-creds/ca.pem
      - docker-creds/cert.pem
      - docker-creds/key.pem
    options:
      # TODO: Find how to make Flux HelmRelease work with hashed secret names
      disableNameSuffixHash: true
